.bg_picture {
	background-image: url('img/2.jpg');
}
.font1 {
	font-family: 'Gabriela', serif;
	color: red;
	font-size: 3vw;
}

.font2 {
	font-family: 'Gabriela', serif;
	color: black;
	font-size: 2vw;
}

.font3 {
	font-family: 'Gabriela', serif;
	color: red;
	font-size: 2vw;
}

.font4 {
	font-family: 'Gabriela', serif;
	color: black;
	font-size: 1.5vw;
}


.font5 {
	font-family: 'Gabriela', serif;
	color: red;
	font-size: 2.5vw;

}

.font6 {
	font-family: 'Gabriela', serif;
	color: white;
	font-size: 2vw;


}

.font7 {
	font-family: 'Gabriela', serif;
	color: grey;
	font-size: 1.5vw;

}


.col-left {
	width: 30%;
}


.bg_btn {
	background-color: red;
}

.bg_color: hover {
	background-color: gold;
}

.bordered {
	border: 4px solid red;
	border-radius: 10px;
}