.text_start{
    font-family: 'Patua One', cursive;
    color: white;
    font-size: 40px
}
.a {
    fill: none;
    stroke: #a79163;
    stroke-miterlimit: 10;
    stroke-width: 2px;
}
.scrolldown {
    position: absolute;
    bottom: 2%;
    right: 50%;
    transform: translateX(50%);
}
.hr_set{
    color:#a79163; border: 2px solid; ;
    margin-top: 25px
    
}
.hr_set_2{
    color:#a79163; border: 2px solid; ;
    margin-top: 20px
    
}
.asc-desc-images-top {
    padding: 5px 0;
    padding-top: 5px;
    padding-right: 0px;
    padding-bottom: 5px;
    padding-left: 0px;
}
.asc-desc-images-left {
    padding: 5px 5px 0 0;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 0px;
    padding-left: 0px;
}

.asc-desc-images-right {
    padding: 5px 0 0 5px;
    padding-top: 5px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 5px;
}
.asc-desc-images {
    padding-right: 20px;
}
.text_about_compan {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 22px;
}

.font2 {
    font-family: 'Ruslan Display', cursive;
    font-size: 20px;
}

.font3 {
    font-family: 'Ruslan Display', cursive;
    font-size: 40px;
    color: white;
}