.text_start{
    font-family: 'Patua One', cursive;
    color: white;
    font-size: 40px
}
.a {
    fill: none;
    stroke: #a79163;
    stroke-miterlimit: 10;
    stroke-width: 2px;
}
.scrolldown {
    position: absolute;
    bottom: 2%;
    right: 50%;
    transform: translateX(50%);
}
.hr_set{
    color:#a79163; border: 2px solid; ;
    margin-top: 25px
    
}
.asc-desc-images-top {
    padding: 5px 0;
    width: 306;
}
.asc-desc-images-left {
    padding: 5px 5px 0 0;
    width: 175;
}

.asc-desc-images-right {
    padding: 5px 0 0 5px;
    width: 175;
}